<div class='demo-app'>

  <div class='demo-app-sidebar'>
    <div class='demo-app-sidebar-section'>
      <h2>All Events before mapping({{(eventsCount$ | async)}})</h2>
      <ul>
        <li *ngFor='let event of (events$ | async)' [style.background]="event.color">
          <h4>{{event.title}}</h4>
          <p>Start w bazie: {{event.start}}</p>
          <p>RR w bazie: {{event['recurrenceRule']}}</p>
        </li>
      </ul>
    </div>
  </div>

  <div class='demo-app-main'>

    <div class="zone">
      <p>Current timezone {{selectedZone}}</p>
      <p>To change timezone go to chrome devtools settings -> more -> sensors -> override location -> reload page</p>
    </div>
    <full-calendar *ngIf='calendarVisible$ | async' [options]='calendarOptions'>
      <ng-template #eventContent let-arg>
        <i>{{ arg.event.title }}</i>
        <b>{{ arg.timeText }}</b>
      </ng-template>
    </full-calendar>
  </div>
</div>
